
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='./css/style.min.css')
  title Dreamshare
body
.container
  block header
  include ./components/header
  main
    block dream2
    include  ./components/b-dream 
    block partner
    include ./components/b-partner 
    block holiday
    include ./components/b-holiday 
    block crate
    include ./components/b-crate
  block footer
  include ./components/footer