section.row
.crate
  .crate__title
    h2.title-section Crate your holiday activity
  .crate__search
    p.text-search Hi! What are your holiday interests?
    .search
      input.input(type='text', placeholder='Enter your insterests')
      button.btn-danger.btn-search Search partners