section.row
      .dream
        .dream__title
          h2.title-section How Dreamshare works?
        .dream__cards
          .card.bg-1
            div
              .card__step
                button.btn-card STEP 1
              .card__slogan.p--slogan
                h2.slogan Sed leo enim, condimentum
              .card__text
                p.text
                  | Quisque libero libero, dictum non turpis in, luctus semper
                  | lorem. Donec rhoncus a leo sit amet facilisis.
          .card.bg-2
            div
              .card__step
                button.btn-card STEP 2
              .card__slogan
                h2.slogan Morbi velit risus
              .card__text
                p.text
                  | Nulla venenatis tempor dui in molestie. Nulla quis dictum
                  | purus, sit amet porttitor est.
          .card.bg-3
            div
              .card__step
                button.btn-card STEP 3
              .card__slogan.p--slogan
                h2.slogan Sed leo enim, condimentum
              .card__text
                p.text
                  | Quisque libero libero, dictum non turpis in, luctus semper
                  | lorem. Donec rhoncus a leo sit amet facilisis.