section.row
  .holiday
    .holiday__title
      h2.title-section Discover holiday activity ideas
    .holiday__images
      .picture
        .shadow
          .shadow__caption
            p.caption.p--bottom Sports and Activis
      .picture
        .shadow
          .shadow__caption
            p.caption.center--caption Wellness and Health
      .picture
        .shadow
          .shadow__caption
            p.caption.w--50 Extreme Sports and Expeditions
      .picture.m--pic
        .shadow
          .shadow__caption
            p.caption Games
      .picture.m--pic
        .shadow
          .shadow__caption
            p.caption Culture and Education
      .picture.m--pic
        .shadow
          .shadow__caption
            p.caption Enjomet and Relaxation
      .picture.m--pic
        .shadow
          .shadow__caption
            p.caption Trevelling