section.row
      .partner
        .partner__title
          h2.title-section
            | Meet a partner for your best holiday
        .partner__users
          .user.ava--icon
            .user__ava
              img.ava(src='./images/Photo1.png', alt='ava')
            .user__name
              p.name Bradley Hunter
            .user__text
              p.text-user
                | Based in Chicago. I love playing tennis and loud music.
          .user.ava--icon
            .user__ava
              img.ava(src='./images/Photo2.png', alt='ava2')
            .user__name
              p.name Marie Bennett
            .user__text
              p.text-user
                | Currently living in Colorado. Lover of art, languages and
                | travelling.
          .user.ava--icon
            .user__ava
              img.ava(src='./images/Photo3.png', alt='ava2')
            .user__name
              p.name Diana Wells
            .user__text.text--pos1
              p.text-user
                | Living in Athens, Greece. I love black and white classics,
                | chillout music and green tea.
          .user.ava--icon
            .user__ava
              img.ava(src='./images/Photo4.png', alt='ava2')
            .user__name
              p.name Christopher Pierce
            .user__text.text--pos2
              p.text-user
                | Star Wars fanatic. I have a persistent enthusiasm to create
                | new things.
        .partner__btn
          button.btn-border-danger See other partners