.row.p--10
  .bg-head
    header.header
      .header__top
        .header__logo
          a.logo(href='#')
            p.logo__name DREAMSHARE
        .header__registratinon
          button.btn.border--none Log in
          button.btn Sign up
      h1.header__motto SHARE YOUR HOLIDAY DREAM
      p.header__motto-small And find the perfect partner to fullfill it
      button.btn-danger Find your holiday partner